<template>
  <div>
    <b-row class="o-gm-hero__phone">
      <b-col align-self="center">
        <img class="o-gm-hero__phone-image" @click="$modal.show('videohello')" src="~/static/img/hero-iphone-landscape.png" alt="Graphmented iOS App Icon"></img>
        <img class="o-gm-hero__phone-image--portrait" @click="$modal.show('videohello')" src="~/static/img/hero-iphone-portrait.png" alt="Graphmented iOS App Icon"></img>
      </b-col>
    </b-row>

    <modal name="videohello" adaptive width="960px" height="auto">
      <div class="o-gm-hero__video-container">
        <iframe class="o-gm-hero__video-player" src="https://www.youtube.com/embed/83msDwB3iIw?rel=0&amp;showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </modal>
  </div>
</template>


<script>
export default {
  name: 'Section-Hero__AppLogo'
}
</script>

<style lang="scss" scoped>
.o-gm-hero__phone {
  display: block;

  position: absolute;
  bottom: 0px;

  width: 100%;
  margin: 0 auto;

  cursor: pointer;

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    position: relative;
    bottom: 0px;
    margin-top: 100px;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767px) {
    position: relative;
    bottom: 0px;
    margin-top: 100px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991px) {
    position: relative;
    bottom: 0px;
    margin-top: 100px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199px) {
    position: absolute;
    bottom: 0px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    position: absolute;
    bottom: 0px;
  }

  @media (min-width: 1800px) {
    position: absolute;
    bottom: 0px;
  }
}
.o-gm-hero__phone-image {
  display: block;
  width: 85%;

  margin: 0 auto;

  text-align: center;
  overflow: hidden;

  background-image: url(~/static/img/hero-bg2.png) no-repeat center center fixed;

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    display: none;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767px) {
    width: 100%;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991px) {
    width: calc(100vw - 40vw);
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199px) {
    width: calc(100vw - 50vw);
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) and (max-width: 1800px) {
    width: calc(100vw - 60vw);
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1800px) {
    width: calc(100vw - 55vw);
  }
}

.o-gm-hero__phone-image--portrait {
  display: none;
  margin: 0 auto;

  text-align: center;
  overflow: hidden;

  background-image: url(~/static/img/hero-bg2.png) no-repeat center center fixed;

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    width: 85%;
    display: block;
  }
}


.o-gm-hero__video-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
}
.o-gm-hero__video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
