<template>
  <b-col cols="12" sm="12" md="6" lg="6" xl="6">
    <div class="o-gm-contact__email-container">
      <h4 class="o-gm-contact__email-label">{{ label }}</h4>
      <a v-if="emailAddress" :href="`mailto:${emailAddress}`" target="_blank" class="o-gm-contact__email-address">{{ emailAddress }}</a>
      <a v-if="twitter" href="https://twitter.com/graphmented" target="_blank" class="o-gm-contact__email-address">
        <img class="o-gm-contact__twitter-icon" src="~/static/img/twitterIcon.svg">
        @{{ twitter }}
      </a>
    </div>
  </b-col>
</template>


<script>

export default {
  name: 'Section-contact__email',
  props: ['label', 'emailAddress', 'twitter']
}
</script>

<style lang="scss" scoped>
  $header-color: #C91B56;
  $subheader-color: #989898;

  .o-gm-contact__email-container {
    display: block;
    position: relative;
    text-align: center;

    margin-bottom: 40px;
  }

  .o-gm-contact__email-label {
    display: block;
    margin-bottom: 15px;

    font-size: 14px;
    letter-spacing:4px;

    color: white;
    opacity: .8;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .o-gm-contact__email-address {
    display: block;

    font-size: 22px;
    color: white;

    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;

    text-decoration: none;

    &:hover {
      color: #aaaaaa;
      text-decoration: none;
    }

    @media (max-width: 920px) {
      text-align: center;
      font-size: 18px;
    }
  }

  .o-gm-contact__twitter-icon {
    margin-right: 10px;
  }
</style>
