<template>
  <h3 class="o-gm-badr__body">{{ text }}</h3>
</template>


<script>

export default {
  name: 'Section-BADR__Header',
  props: ['text']
}
</script>

<style lang="scss" scoped>
  $header-color: #C91B56;
  $subheader-color: #989898;

  .o-gm-badr__body{
    display: block;
    position: relative;

    font-family: Poppins, sans-serif;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    color: white;

    @media (max-width: 1200px){
      font-size: 18px;
      line-height: normal;
      margin-top: 15px;
      text-align: center;
    }
  }
</style>
