<template>
  <main>
    <heroSection />
    <featuresSection />
    <featuredOnSection />
    <BADRSection />
    <contactSection />
    <footerSection />
  </main>
</template>

<script>
import heroSection from '~/components/heroSection/index.vue'
import featuresSection from '~/components/featuresSection/index.vue'
import featuredOnSection from '~/components/featuredOnSection/index.vue'
import BADRSection from '~/components/madeByBADRSection/index.vue'
import contactSection from '~/components/contactSection/index.vue'
import footerSection from '~/components/footerSection/index.vue'

export default {
  components: {
    heroSection,
    featuresSection,
    featuredOnSection,
    BADRSection,
    contactSection,
    footerSection
  }
}
</script>
