<template>
  <section class="r-gm-featuredon">
    <b-container>
      <b-row align-v="center" align-h="center">
        <labelBlock appName="FEATURED ON" slogan="Create stunning charts using augmented reality."/>
        <logoStripBlock />
        <logoStripBlock2 />
      </b-row>
    </b-container>
  </section>
</template>

<script>
import labelBlock from './partials/labelBlock.vue'
import logoStripBlock from './partials/logoStripBlock.vue'
import logoStripBlock2 from './partials/logoStripBlock.1.vue'

export default {
  name: 'Section-Featured-On',
  components: { labelBlock, logoStripBlock, logoStripBlock2 }
}
</script>


<style lang="scss">
$featuredon-bg-color: #CE2453;

.r-gm-featuredon {
  display: block;
  position: relative;

  background: $featuredon-bg-color;
  background-size: cover;

  padding: 30px 0 25px;

  width: 100%;

  // Large devices (desktops, 992px and up)
  @media (max-width: 1200px) {
    text-align: center;
  }
}
</style>
